
body {
  /* display: flexbox; */
  background-color: darkgreen;
  text-align: center;
  /* margin: 0; */
}

* {
  box-sizing: border-box;
}

div#info {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: yellow;
}

h1 {
  font-family: Moderne Sans, sans-serif;
  /* color: black; */
  font-weight: bold;
  text-align: center;
  font-size: 10rem;
  width: 100%;
  letter-spacing: .5rem;
}

h2 { 
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 7rem;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
}

nav {
  background-color: black;
}

nav a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  margin: .75rem;
  /* padding: .5rem; */
}

.livestockmenulist {
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 3rem 0;
  color: yellow;
  font-weight: 100;
}

.livestockmenulist:hover {
  color: black
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  background-color: black;
  color: yellow;
  text-align: center;
  padding-top: 1rem;
}

footer p {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
